body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}
input, select {
    margin: 10px;
    padding: 10px;
    width: 250px;
}
button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
.menu a {
    display: block;
    margin: 10px;
    font-size: 20px;
}
